{% extends 'layout.twig' %} {% block section1 %}
<div class="light-wrapper">
    <div class="container inner">
        <div class="row">
            <div class="col-sm-12" align="center">
                <div class="divide50"></div>
                <div class="about-author bordered">
                    <div class="divide30"></div>
                    <div class="row">
                        <div class="col-sm-8" align="right">
                            <div class="divide40"></div>
                            <h2>Talento Humano</h2>
                        </div>
                        <div class="col-sm-3" align="center">
                            <img src="{{ '/css/style/images/univaForm.png' | url }}" alt="UNIVA">
                        </div>
                    </div>

                    <div class="divide30"></div>
                    <p style="color: #002857; font-size:50px" align="center">Perfil y Proyección Laboral</p>
                    <div class="divide30"></div>

                    <!--Note-->
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2" style="background-color: #FFF; border: 3px solid red; text-align: left">
                        <div class="divide20"></div>    
                        <h2 style="color: red">Nota:</h2>
                        <h3>Estimado colaborador, si no ternimas de capturar toda la información que aparece en el formulario, favor de ir al final del mismo y presionar el botón guardar; considera que los campos que estan marcados con el símbolo <strong style="color:red">*</strong> son obligatorios, y si no se captura la información no te permitirá guardarlos. Esto con la finalidad de que cuando ingreses nuevamente, visualices la información capturada.</h3>
                        </div>
                    </div>

                    <div class="divide30"></div>

                    <!-- Form -->
                    <form method="post" action="{{ "admin/form/edit" | url }}">
                        <!-- Información General -->
                        <div class="row">
                            <div class="col-sm-10 col-sm-offset-1" style="background-color: #F5F5F5">
                                <div class="divide30"></div>
                                <div class="section-title text-center">
                                    <h3 style="color: #005cb9">Información General</h3>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-8">
                                        <label for="input1">Nombre Completo <strong style="color: red">*</strong></label>
                                        <input class="form-control" pattern="^\D*$" title="Este campo sólo acepta letras" type="text" name="nombre_usuario" id="input1" value="{{ user.nombre_usuario }}" required>
                                    </div>

                                    <div class="form-group col-md-4">
                                        <label for="inputNomina">No. Nómina <strong style="color: red">*</strong></label>
                                        <input type="text" class="form-control" pattern="\d*" title="Este campo sólo acepta números" name="noNomina_usuario" id="inputNomina" value="{{ user.noNomina_usuario }}" required>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-8">
                                        <label for="inputCiudadEstadoNacimiento">Ciudad y Estado de Nacimiento <strong style="color: red">*</strong></label>
                                        <input type="text" class="form-control" pattern="^\D*$" title="Este campo sólo acepta letras" name="ciudadEstadoNac_usuario" id="inputCiudadEstadoNacimiento" value="{{ user.ciudadEstadoNac_usuario }}" required>
                                    </div>

                                    <div class="form-group col-md-4">
                                        <label for="inputFechaNacimiento">Fecha de Nacimiento <strong style="color: red">*</strong></label>
                                        <input type="date" class="form-control" name="fechaNacimiento_usuario" id="inputFechaNacimiento" value="{{ user.fechaNacimiento_usuario }}" required>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-3">
                                        <label for="inputSexo">Sexo <strong style="color: red">*</strong></label>
                                        <select id="inputSexo" name="sexo_usuario" class="form-control" required>
                                          <option value="{{ user.sexo_usuario }}" selected hidden>{{ user.sexo_usuario }}</option>
                                          <option value="Femenino">Femenino</option>
                                          <option value="Masculino">Masculino</option>
                                      </select>
                                    </div>

                                    <div class="form-group col-md-3">
                                        <label for="inputCurp">CURP <strong style="color: red">*</strong></label>
                                        <input class="form-control" type="text" pattern=".{18}" title="Este campo debe contener 18 caracteres" name="curp_usuario" maxlength="18" id="inputCurp" value="{{ user.curp_usuario }}" required>
                                    </div>

                                    <div class="form-group col-md-3">
                                        <label for="inputNoIMSS">No. de IMSS <strong style="color: red">*</strong></label>
                                        <input type="text" class="form-control" pattern=".{11}" title="Este campo debe contener 11 caracteres" name="noIMSS_usuario" maxlength="11" id="inputNoIMSS" value="{{ user.noIMSS_usuario }}" required>
                                    </div>

                                    <div class="form-group col-md-3">
                                        <label for="inputRFC">RFC <strong style="color: red">*</strong></label>
                                        <input type="text" class="form-control" name="rfc_usuario" pattern=".{12, 13}" title="Este campo debe contener máximo 13 caracteres" maxlength="13" id="inputRFC" value="{{ user.rfc_usuario }}" required>
                                    </div>
                                </div>

                                <div class="divide10"></div>
                                <div class="section-title text-center">
                                    <h3 style="color: #005cb9">Domicilio</h3>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="inputCalle">Calle <strong style="color: red">*</strong></label>
                                        <input type="text" class="form-control" pattern="^\D*$" title="Este campo sólo acepta letras" name="calle_usuario" id="inputCalle" value="{{ user.calle_usuario }}" required>
                                    </div>

                                    <div class="form-group col-md-3">
                                        <label for="inputExterior">No. Exterior <strong style="color: red">*</strong></label>
                                        <input type="text" class="form-control" name="noExt_usuario" id="inputExterior" value="{{ user.noExt_usuario }}" required>
                                    </div>

                                    <div class="form-group col-md-3">
                                        <label for="inputInterior">No. Interior</label>
                                        <input type="text" class="form-control" name="noInt_usuario" id="inputInterior" value="{{ user.noInt_usuario }}">
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-3">
                                        <label for="inputColonia">Colonia <strong style="color: red">*</strong></label>
                                        <input type="text" class="form-control" pattern="^\D*$" title="Este campo sólo acepta letras" name="colonia_usuario" id="inputColonia" value="{{ user.colonia_usuario }}" required>
                                    </div>

                                    <div class="form-group col-md-3">
                                        <label for="inputCP">CP <strong style="color: red">*</strong></label>
                                        <input type="text" class="form-control" pattern="\d*" title="Este campo sólo acepta números" name="cp_usuario" maxlength="5" id="inputCP" value="{{ user.cp_usuario }}" required>
                                    </div>

                                    <div class="form-group col-md-3">
                                        <label for="inputEstado">Estado <strong style="color: red">*</strong></label>
                                        <select id="inputEstado" name="estado_usuario" class="form-control" required>
                                          <option value="{{ user.estado_usuario }}" selected hidden>{{ user.estado_usuario }}</option>
                                    <option value="Aguascalientes">Aguascalientes</option>
                                    <option value="Baja California">Baja California </option>
                                    <option value="Baja California Sur">Baja California Sur </option>
                                    <option value="Campeche">Campeche </option>
                                    <option value="Chiapas">Chiapas </option>
                                    <option value="Chihuahua">Chihuahua </option>
                                    <option value="Coahuila">Coahuila </option>
                                    <option value="Colima">Colima </option>
                                    <option value="Distrito Federal">Distrito Federal</option>
                                    <option value="Durango">Durango </option>
                                    <option value="Estado de México">Estado de México </option>
                                    <option value="Guanajuato">Guanajuato </option>
                                    <option value="Guerrero">Guerrero </option>
                                    <option value="Hidalgo">Hidalgo </option>
                                    <option value="Jalisco">Jalisco </option>
                                    <option value="Michoacán">Michoacán </option>
                                    <option value="Morelos">Morelos </option>
                                    <option value="Nayarit">Nayarit </option>
                                    <option value="Nuevo León">Nuevo León </option>
                                    <option value="Oaxaca">Oaxaca </option>
                                    <option value="Puebla">Puebla </option>
                                    <option value="Querétaro">Querétaro </option>
                                    <option value="Quintana Roo">Quintana Roo </option>
                                    <option value="San Luis Potosí">San Luis Potosí </option>
                                    <option value="Sinaloa">Sinaloa </option>
                                    <option value="Sonora">Sonora </option>
                                    <option value="Tabasco">Tabasco </option>
                                    <option value="Tamaulipas">Tamaulipas </option>
                                    <option value="Tlaxcala">Tlaxcala </option>
                                    <option value="Veracruz">Veracruz </option>
                                    <option value="Yucatán">Yucatán </option>
                                    <option value="Zacatecas">Zacatecas</option>
                                </select>
                                    </div>

                                    <div class="form-group col-md-3">
                                        <label for="inputMunicipio">Municipio <strong style="color: red">*</strong></label>
                                        <input type="text" class="form-control" pattern="^\D*$" title="Este campo sólo acepta letras" name="municipio_usuario" id="inputMunicipio" value="{{ user.municipio_usuario }}" required>
                                    </div>
                                </div>

                                <div class="divide10"></div>
                                <div class="section-title text-center">
                                    <h3 style="color: #005cb9">Datos de Contacto</h3>
                                </div>

                                <div class="form-row">

                                    <div class="form-group col-md-3">
                                        <label for="inputTelefono">Teléfono</label>
                                        <input type="text" class="form-control" pattern="\d*" title="Este campo sólo acepta números" maxlength="12" name="telefono_usuario" id="inputTelefono" value="{{ user.telefono_usuario }}">
                                    </div>

                                    <div class="form-group col-md-3">
                                        <label for="inputCelular">Celular <strong style="color: red">*</strong></label>
                                        <input type="text" class="form-control" pattern="\d*" title="Este campo sólo acepta números" maxlength="12" name="celular_usuario" id="inputCelular" value="{{ user.celular_usuario }}" required>
                                    </div>

                                    <div class="form-group col-md-3">
                                        <label for="inputCorreoUNIVA">Correo UNIVA <strong style="color: red">*</strong></label>
                                        <input type="email" class="form-control" name="correoUniva_usuario" id="inputCorreoUNIVA" value="{{ user.correoUniva_usuario }}" required>
                                    </div>

                                    <div class="form-group col-md-3">
                                        <label for="inputCorreoPersonal">Correo Personal <strong style="color: red">*</strong></label>
                                        <input type="email" class="form-control" name="correoPersonal_usuario" id="inputCorreoPersonal" value="{{ user.correoPersonal_usuario }}" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Información General -->

                        <div class="divide30"></div>

                        <!-- Relaciones Familiares -->
                        <div class="row">
                            <div class=" col-sm-10 col-sm-offset-1" style="background-color: #F5F5F5">
                                <div class="divide30"></div>
                                <div class="section-title text-center">
                                    <h3 style="color: #005cb9">Relaciones Familiares</h3>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-3">
                                        <label for="inputEstadoCivil">Estado Civil <strong style="color: red">*</strong></label>
                                        <select id="inputEstadoCivil" name="estadoCivil_rf" class="form-control" required>
                                          <option value="{{ family.estadoCivil_rf }}" selected hidden>{{ family.estadoCivil_rf }}</option>
                                      <option value="Soltero">Soltero</option>
                                      <option value="Casado">Casado</option>
                                      <option value="Divorciado">Divorciado</option>
                                      <option value="Viudo">Viudo</option>
                                      <option value="Concuvinato">Concuvinato</option>
                                  </select>
                                    </div>

                                    <div class="form-group col-md-3">
                                        <label for="inputFechaMatrimonio">Fecha de Matrimonio Civil</label>
                                        <input type="date" class="form-control" name="fechaMatrimonio_rf" id="inputFechaMatrimonio" value="{{ family.fechaMatrimonio_rf }}">
                                    </div>

                                    <div class="form-group col-md-3">
                                        <label for="inputNombreConyuge">Nombre del Cónyuge</label>
                                        <input type="text" class="form-control" pattern="^\D*$" title="Este campo sólo acepta letras" name="nombreConyuge_rf" id="inputNombreConyuge" value="{{ family.nombreConyuge_rf }}">
                                    </div>

                                    <div class="form-group col-md-3">
                                        <label for="inputFechaConyuge">Fecha Nacimiento del Cónyuge</label>
                                        <input type="date" class="form-control" name="fechaNacConyuge_rf" id="inputFechaConyuge" value="{{ family.fechaNacConyuge_rf }}">
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="inputNombreMadre">Nombre de la Madre <strong style="color: red">*</strong></label>
                                        <input type="text" class="form-control" pattern="^\D*$" title="Este campo sólo acepta letras" name="nombreMadre_rf" id="inputNombreMadre" value="{{ family.nombreMadre_rf }}" required>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label for="inputNombrePadre">Nombre del Padre <strong style="color: red">*</strong></label>
                                        <input type="text" class="form-control" pattern="^\D*$" title="Este campo sólo acepta letras" name="nombrePadre_rf" id="inputNombrePadre" value="{{ family.nombrePadre_rf }}" required>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                      <div class="section-title text-center">
                                          <h3 style="color: #005cb9">Hijos del Colaborador</h3>
                                      </div>
                                        <table class="form group col-md-12">

                                            {% set a = 1 %}
                                            {% for childrenData in children %}
                                            <tr>
                                              <th><strong>Nombre</strong></th>
                                              <th><strong>Fecha de Nacimiento</strong></th>
                                              <th><strong>Grado Escolar</strong></th>
                                            </tr>
                                            <tr>
                                                <td> <input type="text" pattern="^\D*$" title="Este campo sólo acepta letras" class="form-control" name="nombre_hijo{{a}}" value="{{ childrenData.nombre_hijo }}"></td>
                                                <td> <input type="date" class="form-control" name="fechaNac_hijo{{a}}" value="{{ childrenData.fechaNac_hijo }}"></td>
                                                <td>
                                                    <select name="gradoEscolar_hijo{{a}}" class="form-control">
                                                      <option value="{{ childrenData.gradoEscolar_hijo }}" selected hidden>{{ childrenData.gradoEscolar_hijo }}</option>
                                                    <option value="Ninguno">Ninguno</option>
                                                    <option value="Kinder">Kinder</option>
                                                    <option value="Primaria">Primaria</option>
                                                    <option value="Secundaria">Secundaria</option>
                                                    <option value="Preparatoria">Preparatoria</option>
                                                    <option value="Licenciatura">Licenciatura</option>
                                                    <option value="Maestría">Maestría</option>
                                                    <option value="Doctorado">Doctorado</option>
                                                  </select>
                                                </td>
                                            </tr>
                                            {% set a = a + 1 %} {% endfor %}
                                        </table>

                                        <a role="button" data-toggle="collapse" style="text-decoration: none;" href="#collapse1" aria-expanded="false" aria-controls="collapse1">
                                            <h4 align="left" style="color: #f18903">+ Añadir más hijos</h4>
                                        </a>

                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="collapse" id="collapse1">
                                                    <table class="form group col-md-12">
                                                      <tr>
                                                        <th><strong>Nombre</strong></th>
                                                        <th><strong>Fecha de Nacimiento</strong></th>
                                                        <th><strong>Grado Escolar</strong></th>
                                                      </tr>
                                                      {% if a < 11 %}
                                                      {% for a1 in range(a, 10) %}
                                                      <tr>
                                                          <td> <input type="text" pattern="^\D*$" title="Este campo sólo acepta letras" class="form-control" name="nombre_hijo{{a1}}"></td>
                                                          <td> <input type="date" class="form-control" name="fechaNac_hijo{{a1}}"></td>
                                                          <td>
                                                              <select name="gradoEscolar_hijo{{a1}}" class="form-control">
                                                            <option value="Ninguno">Ninguno</option>
                                                            <option value="Kinder">Kinder</option>
                                                            <option value="Primaria">Primaria</option>
                                                            <option value="Secundaria">Secundaria</option>
                                                            <option value="Preparatoria">Preparatoria</option>
                                                            <option value="Licenciatura">Licenciatura</option>
                                                            <option value="Maestría">Maestría</option>
                                                            <option value="Doctorado">Doctorado</option>
                                                          </select>
                                                          </td>
                                                      </tr>
                                                      {% set a = a + 1 %} {% endfor %}
                                                      {% endif %}
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Relaciones Familiares -->

                        <div class="divide30"></div>

                        <!-- Experiencia Profesional antes de ingresar a UNIVA -->
                        <div class="row">
                            <div class=" col-sm-10 col-sm-offset-1" style="background-color: #F5F5F5">
                                <div class="divide30"></div>
                                <div class="section-title text-center">
                                    <h3 style="color: #005cb9">
                                        Experiencia Profesional antes de ingresar a UNIVA
                                    </h3>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <table class="form group col-md-12">
                                            {% set b = 1 %}
                                            {% for eppuData in eppu %}
                                            <tr>
                                              <th><strong>Empresa</strong></th>
                                              <th><strong>Puesto</strong></th>
                                              <th><strong>No. Años</strong></th>
                                              <th><strong>No. Meses</strong></th>
                                              <th><strong>Nombre y Puesto del Jefe Inmediato</strong></th>
                                              <th><strong>Teléfono</strong></th>
                                            </tr>
                                            <tr>
                                                <td> <input type="text" class="form-control" name="empresa_eppu{{b}}" value="{{ eppuData.empresa_eppu }}"></td>
                                                <td> <input type="text" class="form-control" name="puesto_eppu{{b}}" value="{{ eppuData.puesto_eppu }}"></td>
                                                <td> <input type="number" min="0" max="70" class="form-control" name="noAnios_eppu{{b}}" value="{{ eppuData.noAnios_eppu }}"></td>
                                                <td> <input type="number" min="0" max="12" class="form-control" name="noMeses_eppu{{b}}" value="{{ eppuData.noMeses_eppu }}"></td>
                                                <td> <input type="text" class="form-control" name="nombrePuestoJefe_eppu{{b}}" value="{{ eppuData.nombrePuestoJefe_eppu }}"></td>
                                                <td> <input type="text" class="form-control" pattern="\d*" title="Este campo sólo acepta números" maxlength="12" name="telefono_eppu{{b}}" value="{{ eppuData.telefono_eppu }}"></td>
                                            </tr>
                                            {% set b = b + 1 %} {% endfor %}
                                        </table>

                                        <a role="button" data-toggle="collapse" style="text-decoration: none;" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
                                            <h4 align="left" style="color: #f18903">+ Añadir más experiencia</h4>
                                        </a>


                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="collapse" id="collapse2">
                                                    <table class="form group col-md-12">
                                                      <tr>
                                                        <th><strong>Empresa</strong></th>
                                                        <th><strong>Puesto</strong></th>
                                                        <th><strong>No. Años</strong></th>
                                                        <th><strong>No. Meses</strong></th>
                                                        <th><strong>Nombre y Puesto del Jefe Inmediato</strong></th>
                                                        <th><strong>Teléfono</strong></th>
                                                      </tr>
                                                      {% if b < 16 %}
                                                      {% for b1 in range(b, 15) %}
                                                      <tr>
                                                          <td> <input type="text" class="form-control" name="empresa_eppu{{b1}}" size="18"></td>
                                                          <td> <input type="text" class="form-control" name="puesto_eppu{{b1}}" size="18"></td>
                                                          <td> <input type="number" min="0" max="70" class="form-control" name="noAnios_eppu{{b1}}"></td>
                                                          <td> <input type="number" min="0" max="12" class="form-control" name="noMeses_eppu{{b1}}"></td>
                                                          <td> <input type="text" class="form-control" name="nombrePuestoJefe_eppu{{b1}}" size="20"></td>
                                                          <td> <input type="text" class="form-control" pattern="\d*" title="Este campo sólo acepta números" maxlength="12" name="telefono_eppu{{b1}}"></td>
                                                      </tr>
                                                      {% set b = b + 1 %} {% endfor %}
                                                      {% endif %}
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Experiencia Profesional antes de ingresar a UNIVA -->

                        <div class="divide30"></div>

                        <!-- Cargos Desempeñados en UNIVA -->
                        <div class="row">
                            <div class=" col-sm-10 col-sm-offset-1" style="background-color: #F5F5F5">
                                <div class="divide30"></div>
                                <div class="section-title text-center">
                                    <h3 style="color: #005cb9">Cargos Desempeñados en UNIVA</h3>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <table class="form group col-md-12">
                                          {% set c = 1 %}
                                          {% for positionData in position %}
                                          <tr>
                                            <th><strong>Cargo</strong> <strong style="color: red">*</strong></th>
                                            <th><strong>Área o Departamento</strong> <strong style="color: red">*</strong></th>
                                            <th><strong>No. Años</strong></th>
                                            <th><strong>No. Meses</strong></th>
                                            <th><strong>Nombre y Puesto del Jefe Inmediato</strong></th>
                                            <th><strong>Período</strong></th>
                                          </tr>
                                            <tr>
                                                <td> <input type="text" class="form-control" name="cargo_cu{{c}}" value="{{ positionData.cargo_cu }}"></td>
                                                <td> <input type="text" class="form-control" name="departamento_cu{{c}}" value="{{ positionData.departamento_cu }}"></td>
                                                <td> <input type="number" min="0" max="70" class="form-control" name="anios_cu{{c}}" value="{{ positionData.anios_cu }}"></td>
                                                <td> <input type="number" min="0" max="12" class="form-control" name="meses_cu{{c}}" value="{{ positionData.meses_cu }}"></td>
                                                <td> <input type="text" class="form-control" name="nombrePuestoJefe_cu{{c}}" value="{{ positionData.nombrePuestoJefe_cu }}"></td>
                                                <td> <input type="text" class="form-control" name="periodo_cu{{c}}" value="{{ positionData.periodo_cu }}"></td>
                                            </tr>
                                            {% set c = c + 1 %} {% endfor %}
                                        </table>

                                        <a role="button" data-toggle="collapse" style="text-decoration: none;" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
                                            <h4 align="left" style="color: #f18903">+ Añadir más cargos</h4>
                                        </a>


                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="collapse" id="collapse3">
                                                    <table class="form group col-md-12">
                                                      <tr>
                                                        <th><strong>Cargo</strong> <strong style="color: red">*</strong></th>
                                                        <th><strong>Área o Departamento</strong> <strong style="color: red">*</strong></th>
                                                        <th><strong>No. Años</strong></th>
                                                        <th><strong>No. Meses</strong></th>
                                                        <th><strong>Nombre y Puesto del Jefe Inmediato</strong></th>
                                                        <th><strong>Período</strong></th>
                                                      </tr>
                                                      {% if c < 16 %}
                                                      {% for c1 in range(c, 15) %}
                                                      <tr>
                                                          <td> <input type="text" class="form-control" name="cargo_cu{{c1}}"></td>
                                                          <td> <input type="text" class="form-control" name="departamento_cu{{c1}}"></td>
                                                          <td> <input type="number" min="0" max="70" class="form-control" name="anios_cu{{c1}}"></td>
                                                          <td> <input type="number" min="0" max="12" class="form-control" name="meses_cu{{c1}}"></td>
                                                          <td> <input type="text" class="form-control" name="nombrePuestoJefe_cu{{c1}}"></td>
                                                          <td> <input type="text" class="form-control" name="periodo_cu{{c1}}"></td>
                                                      </tr>
                                                      {% set c = c + 1 %} {% endfor %}
                                                      {% endif %}
                                                    </table>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Cargos Desempeñados en UNIVA -->

                        <div class="divide30"></div>

                        <!-- Áreas Laborales de Interés dentro de la Institución -->
                        <div class="row">
                            <div class=" col-sm-10 col-sm-offset-1" style="background-color: #F5F5F5">
                                <div class="divide30"></div>
                                <div class="section-title text-center">
                                    <h3 style="color: #005cb9">Áreas Laborales de Interés dentro de la Institución</h3>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <table class="form group col-md-12">
                                            {% set d = 1 %}
                                            {% for aiuData in aiu %}
                                            <tr>
                                              <th><strong>Área o Departamento</strong></th>
                                              <th><strong>Cargo</strong></th>
                                              <th><strong>Motivo</strong></th>
                                            </tr>
                                            <tr>
                                                <td> <input type="text" class="form-control" name="departamento_aiu{{d}}" value="{{ aiuData.departamento_aiu }}"></td>
                                                <td> <input type="text" class="form-control" name="cargo_aiu{{d}}" value="{{ aiuData.cargo_aiu }}"></td>
                                                <td> <input type="text" class="form-control" name="motivo_aiu{{d}}" value="{{ aiuData.motivo_aiu }}"></td>
                                            </tr>
                                            {% set d = d + 1 %} {% endfor %}
                                        </table>

                                        <a role="button" data-toggle="collapse" style="text-decoration: none;" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                                            <h4 align="left" style="color: #f18903">+ Añadir más areas</h4>
                                        </a>

                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="collapse" id="collapse4">
                                                    <table class="form group col-md-12">
                                                      <tr>
                                                        <th><strong>Área o Departamento</strong></th>
                                                        <th><strong>Cargo</strong></th>
                                                        <th><strong>Motivo</strong></th>
                                                      </tr>
                                                      {% if d < 6 %}
                                                      {% for d1 in range(d, 5) %}
                                                      <tr>
                                                          <td> <input type="text" class="form-control" name="departamento_aiu{{d1}}"></td>
                                                          <td> <input type="text" class="form-control" name="cargo_aiu{{d1}}"></td>
                                                          <td> <input type="text" class="form-control" name="motivo_aiu{{d1}}"></td>
                                                      </tr>
                                                      {% set d = d + 1 %} {% endfor %}
                                                      {% endif %}
                                                    </table>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Áreas Laborales de Interés dentro de la Institución -->

                        <div class="divide30"></div>

                        <!-- Lenguas Extranjeras -->
                        <div class="row">
                            <div class=" col-sm-10 col-sm-offset-1" style="background-color: #F5F5F5">
                                <div class="divide30"></div>
                                <div class="section-title text-center">
                                    <h3 style="color: #005cb9">Lenguas Extranjeras</h3>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <table class="form group col-md-12">
                                          {% set e = 1 %}
                                          {% for languageData in language %}
                                          <tr>
                                            <th><strong>Idioma</strong></th>
                                            <th><strong>Hablado (Porcentaje %)</strong></th>
                                            <th><strong>Escrito (Porcentaje %)</strong></th>
                                            <th><strong>Leído (Porcentaje %)</strong></th>
                                          </tr>
                                              <tr>
                                                  <td> <input type="text" pattern="^\D*$" title="Este campo sólo acepta letras" class="form-control" name="idioma_i{{e}}" value="{{ languageData.idioma_i }}"></td>
                                                  <td> <input type="number" max="100" min="0" class="form-control" name="hablado_i{{e}}" value="{{ languageData.hablado_i }}"></td>
                                                  <td> <input type="number" max="100" min="0" class="form-control" name="escrito_i{{e}}" value="{{ languageData.escrito_i }}"></td>
                                                  <td> <input type="number" max="100" min="0" class="form-control" name="leido_i{{e}}" value="{{ languageData.leido_i }}"></td>
                                              </tr>
                                              {% set e = e + 1 %}
                                            {% endfor %}
                                        </table>

                                        <a role="button" data-toggle="collapse" style="text-decoration: none;" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
                                            <h4 align="left" style="color: #f18903">+ Añadir más lenguas</h4>
                                        </a>

                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="collapse" id="collapse5">
                                                    <table class="form group col-md-12">
                                                      <tr>
                                                        <th><strong>Idioma</strong></th>
                                                        <th><strong>Hablado (Porcentaje %)</strong></th>
                                                        <th><strong>Escrito (Porcentaje %)</strong></th>
                                                        <th><strong>Leído (Porcentaje %)</strong></th>
                                                      </tr>
                                                      {% if e < 6 %}
                                                      {% for e1 in range(e, 5) %}
                                                        <tr>
                                                            <td> <input type="text" pattern="^\D*$" title="Este campo sólo acepta letras" class="form-control" name="idioma_i{{e1}}"></td>
                                                            <td> <input type="number" max="100" min="0" class="form-control" name="hablado_i{{e1}}"></td>
                                                            <td> <input type="number" max="100" min="0" class="form-control" name="escrito_i{{e1}}"></td>
                                                            <td> <input type="number" max="100" min="0" class="form-control" name="leido_i{{e1}}"></td>
                                                        </tr>
                                                        {% set e = e + 1 %}
                                                      {% endfor %}
                                                      {% endif %}
                                                    </table>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Lenguas Extranjeras -->

                        <div class="divide30"></div>

                        <!-- Formación Académica -->
                        <div class="row">
                            <div class=" col-sm-10 col-sm-offset-1" style="background-color: #F5F5F5">
                                <div class="divide30"></div>
                                <div class="section-title text-center">
                                    <h3 style="color: #005cb9">Estudios Actuales</h3>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="inputEstudiosActualmente">Estudios que cursas actualmente</label>
                                        <input class="form-control" type="text" name="estudio_faa" id="inputEstudiosActualmente"value="{{ faa.estudio_faa }}">
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label for="inputEscuela">Escuela</label>
                                        <input class="form-control" type="text" name="escuela_faa" id="inputEscuela" value="{{ faa.escuela_faa }}">
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="section-title text-center">
                                        <h4 style="color: #005cb9">Horarios en que asistes a clases</h4>
                                    </div>
                                    {% set lunes = faa.lunes_faa %}
                                    {% set martes = faa.martes_faa %}
                                    {% set miercoles = faa.miercoles_faa %}
                                    {% set jueves = faa.jueves_faa %}
                                    {% set viernes = faa.viernes_faa %}
                                    {% set sabado = faa.sabado_faa %}

                                    {% if lunes == "00:00:00" %}
                                      {% set lunes = "" %}
                                    {% endif %}

                                    {% if martes == "00:00:00" %}
                                      {% set martes = "" %}
                                    {% endif %}

                                    {% if miercoles == "00:00:00" %}
                                      {% set miercoles = "" %}
                                    {% endif %}

                                    {% if jueves == "00:00:00" %}
                                      {% set jueves = "" %}
                                    {% endif %}

                                    {% if viernes == "00:00:00" %}
                                      {% set viernes = "" %}
                                    {% endif %}

                                    {% if sabado == "00:00:00" %}
                                      {% set sabado = "" %}
                                    {% endif %}
                                    <div class="form-group col-md-2">
                                        <label for="inputLunes">Lunes</label>
                                        <input class="form-control" type="time" name="horario_faaLunes" id="inputLunes" value="{{ lunes }}">
                                    </div>

                                    <div class="form-group col-md-2">
                                        <label for="inputMartes">Martes</label>
                                        <input class="form-control" type="time" name="horario_faaMartes" id="inputMartes" value="{{ martes }}">
                                    </div>

                                    <div class="form-group col-md-2">
                                        <label for="inputMiercoles">Miércoles</label>
                                        <input class="form-control" type="time" name="horario_faaMiercoles" id="inputMiercoles" value="{{ miercoles }}">
                                    </div>

                                    <div class="form-group col-md-2">
                                        <label for="inputJueves">Jueves</label>
                                        <input class="form-control" type="time" name="horario_faaJueves" id="inputJueves" value="{{ jueves }}">
                                    </div>

                                    <div class="form-group col-md-2">
                                        <label for="inputViernes">Viernes</label>
                                        <input class="form-control" type="time" name="horario_faaViernes" id="inputViernes" value="{{ viernes }}">
                                    </div>

                                    <div class="form-group col-md-2">
                                        <label for="inputSabado">Sábado</label>
                                        <input class="form-control" type="time" name="horario_faaSabado" id="inputSabado" value="{{ sabado }}">
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="inputFechaInicio">Fecha en que inicio sus estudios</label>
                                        <input class="form-control" type="date" name="fechaInicio_faa" id="inputFechaInicio" value="{{ faa.fechaInicio_faa }}">
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label for="inputFechaTermino">Fecha problable de término</label>
                                        <input class="form-control" type="date" name="fechaFin_faa" id="inputFechaTermino" value="{{ faa.fechaFin_faa }}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Formación Académica -->

                        <div class="divide30"></div>

                        <!-- Estudios Anteriores -->
                        <div class="row">
                            <div class=" col-sm-10 col-sm-offset-1" style="background-color: #F5F5F5">
                                <div class="divide30"></div>
                                <div class="section-title text-center">
                                    <h3 style="color: #005cb9">Estudios Anteriores</h3>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <table class="form group col-md-12">
                                          {% set f = 1 %}
                                          {% for epData in ep %}
                                          <tr>
                                            <th><strong>Grado Académico</strong> <strong style="color: red">*</strong></th>
                                            <th><strong>Institución</strong> <strong style="color: red">*</strong></th>
                                            <th><strong>Nombre del grado</strong> <strong style="color: red">*</strong></th>
                                            <th><strong>Período de estudios</strong> <strong style="color: red">*</strong></th>
                                            <th><strong>Certificado</strong><strong style="color: red">*</strong></th>
                                            <th><strong>Título</strong> <strong style="color: red">*</strong></th>
                                            <th><strong>Cédula</strong> <strong style="color: red">*</strong></th>
                                          </tr>
                                            <tr>
                                                <td>
                                                    <select name="grado_ep{{f}}" class="form-control">
                                                      <option value="{{ epData.grado_ep }}" selected hidden>{{ epData.grado_ep }}</option>
                                                    <option value="Preparatoria">Preparatoria</option>
                                                    <option value="Licenciatura">Licenciatura</option>
                                                    <option value="Maestría">Maestría</option>
                                                    <option value="Doctorado">Doctorado</option>
                                                  </select>
                                                </td>
                                                <td> <input type="text" class="form-control" name="institucion_ep{{f}}" value="{{ epData.institucion_ep }}"></td>
                                                <td> <input type="text" pattern="^\D*$" title="Este campo sólo acepta letras" class="form-control" name="nombre_ep{{f}}" value="{{ epData.nombre_ep }}"></td>
                                                <td> <input type="text" class="form-control" name="periodo_ep{{f}}" value="{{ epData.periodo_ep }}"></td>
                                                <td>
                                                    <select name="certificado_ep{{f}}" class="form-control">
                                                      <option value="{{ epData.certificado_ep }}" selected hidden>{{ epData.certificado_ep }}</option>
                                                      <option value="Sí">Sí</option>
                                                      <option value="No">No</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <select name="titulo_ep{{f}}" class="form-control">
                                                      <option value="{{ epData.titulo_ep }}" selected hidden>{{ epData.titulo_ep }}</option>
                                                      <option value="Sí">Sí</option>
                                                      <option value="No">No</option>
                                                      <option value="En trámite">En trámite</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <select name="cedula_ep{{f}}" class="form-control">
                                                      <option value="{{ epData.titulo_ep }}" selected hidden>{{ epData.titulo_ep }}</option>
                                                      <option value="Sí">Sí</option>
                                                      <option value="No">No</option>
                                                      <option value="En trámite">En trámite</option>
                                                    </select>
                                                </td>
                                            </tr>
                                            {% set f = f + 1 %}
                                          {% endfor %}
                                        </table>

                                        <a role="button" data-toggle="collapse" style="text-decoration: none;" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
                                            <h4 align="left" style="color: #f18903">+ Añadir más estudios</h4>
                                        </a>

                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="collapse" id="collapse6">
                                                    <table class="form group col-md-12">
                                                      <tr>
                                                        <th><strong>Grado Académico</strong> <strong style="color: red">*</strong></th>
                                                        <th><strong>Institución</strong> <strong style="color: red">*</strong></th>
                                                        <th><strong>Nombre del grado</strong> <strong style="color: red">*</strong></th>
                                                        <th><strong>Período de estudios</strong> <strong style="color: red">*</strong></th>
                                                        <th><strong>Certificado</strong><strong style="color: red">*</strong></th>
                                                        <th><strong>Título</strong> <strong style="color: red">*</strong></th>
                                                        <th><strong>Cédula</strong> <strong style="color: red">*</strong></th>
                                                      </tr>
                                                      {% if f < 8 %}
                                                        {% for f1 in range(f, 7) %}
                                                          <tr>
                                                              <td>
                                                                  <select name="grado_ep{{f1}}" class="form-control">
                                                                  <option value="Preparatoria">Preparatoria</option>
                                                                  <option value="Licenciatura">Licenciatura</option>
                                                                  <option value="Maestría">Maestría</option>
                                                                  <option value="Doctorado">Doctorado</option>
                                                                </select>
                                                              </td>
                                                              <td> <input type="text" class="form-control" name="institucion_ep{{f1}}"></td>
                                                              <td> <input type="text" pattern="^\D*$" title="Este campo sólo acepta letras" class="form-control" name="nombre_ep{{f1}}"></td>
                                                              <td> <input type="text" class="form-control" name="periodo_ep{{f1}}"></td>
                                                              <td>
                                                                  <select name="certificado_ep{{f1}}" class="form-control">
                                                                    <option value="Sí">Sí</option>
                                                                    <option value="No">No</option>
                                                                  </select>
                                                              </td>
                                                              <td>
                                                                  <select name="titulo_ep{{f1}}" class="form-control">
                                                                    <option value="Sí">Sí</option>
                                                                    <option value="No">No</option>
                                                                    <option value="En trámite">En trámite</option>
                                                                  </select>
                                                              </td>
                                                              <td>
                                                                  <select name="cedula_ep{{f1}}" class="form-control">
                                                                    <option value="Sí">Sí</option>
                                                                    <option value="No">No</option>
                                                                    <option value="En trámite">En trámite</option>
                                                                  </select>
                                                              </td>
                                                          </tr>
                                                          {% set f = f + 1 %}
                                                        {% endfor %}
                                                        {% endif %}
                                                    </table>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Estudios Anteriores -->

                        <div class="divide30"></div>

                        <!-- Eventos de capacitación recibidos (Internos y Externos) -->
                        <div class="row">
                            <div class=" col-sm-10 col-sm-offset-1" style="background-color: #F5F5F5">
                                <div class="divide30"></div>
                                <div class="section-title text-center">
                                    <h3 style="color: #005cb9">Eventos de capacitación recibidos (Internos y Externos)<br>
                                    <strong style="color: red">(Últimos 3 años)</strong>
                                  </h3>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <table class="form group col-md-12">
                                          {% set g = 1 %}
                                          {% for crData in cr %}
                                          <tr>
                                            <th><strong>Nombre del Evento</strong></th>
                                            <th><strong>Fecha</strong></th>
                                            <th><strong>No. Horas</strong></th>
                                            <th><strong>Institución</strong></th>
                                            <th><strong>Constancia</strong></th>
                                          </tr>
                                            <tr>
                                                <td> <input type="text" class="form-control" name="nombre_cr{{g}}" value="{{ crData.nombre_cr }}"></td>
                                                <td> <input type="date" class="form-control" name="fechaCapacitacion_cr{{g}}" value="{{ crData.fechaCapacitacion_cr }}"></td>
                                                <td> <input type="number" max="1000" min="0" class="form-control" name="noHoras_cr{{g}}" value="{{ crData.noHoras_cr }}"></td>
                                                <td> <input type="text" class="form-control" name="institucion_cr{{g}}" value="{{ crData.institucion_cr }}"></td>
                                                <td>
                                                    <select name="certificado_cr{{g}}" class="form-control">
                                                      <option value="{{ crData.certificado_cr }}" selected hidden>{{ crData.certificado_cr }}</option>
                                                      <option value="Sí">Sí</option>
                                                      <option value="No">No</option>
                                                    </select>
                                                </td>
                                            </tr>
                                            {% set g = g + 1 %}
                                          {% endfor %}
                                        </table>

                                        <a role="button" data-toggle="collapse" style="text-decoration: none;" href="#collapse7" aria-expanded="false" aria-controls="collapse7">
                                            <h4 align="left" style="color: #f18903">+ Añadir más eventos</h4>
                                        </a>

                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="collapse" id="collapse7">
                                                    <table class="form group col-md-12">
                                                      <tr>
                                                        <th><strong>Nombre del Evento</strong></th>
                                                        <th><strong>Fecha</strong></th>
                                                        <th><strong>No. Horas</strong></th>
                                                        <th><strong>Institución</strong></th>
                                                        <th><strong>Constancia</strong></th>
                                                      </tr>
                                                      {% if g < 16 %}
                                                        {% for g1 in range(g, 15) %}
                                                          <tr>
                                                              <td> <input type="text" class="form-control" name="nombre_cr{{g1}}"></td>
                                                              <td> <input type="date" class="form-control" name="fechaCapacitacion_cr{{g1}}"></td>
                                                              <td> <input type="number" max="1000" min="0" class="form-control" name="noHoras_cr{{g1}}"></td>
                                                              <td> <input type="text" class="form-control" name="institucion_cr{{g1}}"></td>
                                                              <td>
                                                                  <select name="certificado_cr{{g1}}" class="form-control">
                                                                    <option value="Sí">Sí</option>
                                                                    <option value="No">No</option>
                                                                  </select>
                                                              </td>
                                                          </tr>
                                                          {% set g = g + 1 %}
                                                        {% endfor %}
                                                        {% endif %}
                                                    </table>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Eventos de capacitación recibidos (Internos y Externos) -->

                        <div class="divide30"></div>

                        <!-- Eventos de capacitación impartidos (Internos y Externos) -->
                        <div class="row">
                            <div class=" col-sm-10 col-sm-offset-1" style="background-color: #F5F5F5">
                                <div class="divide30"></div>
                                <div class="section-title text-center">
                                    <h3 style="color: #005cb9">Eventos de capacitación impartidos (Internos y Externos)<br>
                                      <strong style="color: red">(Últimos 3 años)</strong>
                                    </h3>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <table class="form group col-md-12">
                                          {% set h = 1 %}
                                          {% for ciData in ci %}
                                          <tr>
                                            <th><strong>Nombre del Evento</strong></th>
                                            <th><strong>Fecha</strong></th>
                                            <th><strong>No. Horas</strong></th>
                                            <th><strong>Institución</strong></th>
                                            <th><strong>Constancia</strong></th>
                                          </tr>
                                            <tr>
                                                <td> <input type="text" class="form-control" name="nombre_ci{{h}}" value="{{ ciData.nombre_ci }}"></td>
                                                <td> <input type="date" class="form-control" name="fechaCapacitacion_ci{{h}}" value="{{ ciData.fechaCapacitacion_ci }}"></td>
                                                <td> <input type="number" max="1000" min="0" class="form-control" name="noHoras_ci{{h}}" value="{{ ciData.noHoras_ci }}"></td>
                                                <td> <input type="text" class="form-control" name="institucion_ci{{h}}" value="{{ ciData.institucion_ci }}"></td>
                                                <td>
                                                    <select name="certificado_ci{{h}}" class="form-control">
                                                      <option value="{{ ciData.certificado_ci }}" selected hidden>{{ ciData.certificado_ci }}</option>
                                                      <option value="Sí">Sí</option>
                                                      <option value="No">No</option>
                                                    </select>
                                                </td>
                                            </tr>
                                            {% set h = h + 1 %}
                                          {% endfor %}
                                        </table>

                                        <a role="button" data-toggle="collapse" style="text-decoration: none;" href="#collapse8" aria-expanded="false" aria-controls="collapse8">
                                            <h4 align="left" style="color: #f18903">+ Añadir más eventos</h4>
                                        </a>

                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="collapse" id="collapse8">
                                                    <table class="form group col-md-12">
                                                      <tr>
                                                        <th><strong>Nombre del Evento</strong></th>
                                                        <th><strong>Fecha</strong></th>
                                                        <th><strong>No. Horas</strong></th>
                                                        <th><strong>Institución</strong></th>
                                                        <th><strong>Constancia</strong></th>
                                                      </tr>
                                                      {% if h < 16 %}
                                                        {% for h1 in range(h, 15) %}
                                                          <tr>
                                                              <td> <input type="text" class="form-control" name="nombre_ci{{h1}}"></td>
                                                              <td> <input type="date" class="form-control" name="fechaCapacitacion_ci{{h1}}"></td>
                                                              <td> <input type="number" max="1000" min="0" class="form-control" name="noHoras_ci{{h1}}"></td>
                                                              <td> <input type="text" class="form-control" name="institucion_ci{{h1}}"></td>
                                                              <td>
                                                                  <select name="certificado_ci{{h1}}" class="form-control">
                                                                    <option value="Sí">Sí</option>
                                                                    <option value="No">No</option>
                                                                  </select>
                                                              </td>
                                                          </tr>
                                                          {% set h = h + 1 %}
                                                        {% endfor %}
                                                        {% endif %}
                                                    </table>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Eventos de capacitación impartidos (Internos y Externos) -->
                        <hr>
                        <h1>Después de <strong style="color:red">dar click</strong> en el <strong style="color:red">botón guardar</strong>, a continuación te permitirá subir los documentos.</h1>
                        <div class="row">
                            <div class=" col-sm-2 col-sm-offset-5">
                                <div class="divide15"></div>
                                <input align="center" class="btn" style="background-color: #002857" type="submit" value="Guardar">
                            </div>
                        </div>
                    </form>
                    <div class="divide30"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
